# cache files generated automatically
__pycache__
/.vscode

# files for backup models
/pretrained
/backup

# files created by simpletransformers
/outputs
/outputs-msra
/outputs-weibo
/runs
/cache_dir

# testing files
/test
/test.py
/test.ipynb
/test.csv
/test.tsv

# results of training and testing
/record.md
/nohup.out
/nohup.pid

# avoid LFS
/utils/thulac/models
/prompts/msra.bart.train.tsv
/prompts/msra.entail.train.tsv
